.post-area {
    position: relative;
    margin-top: 46px;
}

.post-list {
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
    list-style: none;
}

.infinite-scroll-threshold {
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
}